body {
    text-align: center;
    margin: 0px;
    font-family: "Dorsis", sans-serif;
}

.about {
    background-color: LightGrey;
    padding: 0px;
}

.projects {
    background-color: LightGrey;
    padding: 10px;
}
