body {
    text-align: center;
    margin: 0px;
    font-family: "Dorsis", sans-serif;
}

.about {
    background-color: LightGrey;
    padding: 0px;
}

.about-content {
    display: inline-block;
    text align: left;
    vertical align: top;
    margin: 45px 50px 50px 50px;
}

.projects {
    background-color: LightGrey;
    padding: 10px;
}

.project-content {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin: 45px 50px 50px 50px;   
}

.project-thumbnail {
    display: inline-block;
    height: 256px;
}
